# Telegram
# Token do bot (gerar em @BotFather)
# Ids permitidos (@userinfobot mostra)
TELEGRAM_BOT_TOKEN= 
TELEGRAM_ALLOWED_IDS= 

# Discord
DISCORD_EMAIL=
DISCORD_PASSWORD=

# Sonarr
SONARR_URL=
SONARR_API_KEY=
SONARR_ROOT_FOLDER=
SONARR_QUALITY_PROFILE=

# Destino padrao de download
ANIME_BASE_DIR=
FILME_BASE_DIR=
